In [1]:
import pandas as pd
import numpy as np

Raw_Data = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(Raw_Data)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [2]:
Total_Player = len(purchase_data["SN"].unique())
PlayerCount_df = pd.DataFrame()

PlayerCount_df["Player Count"] = [Total_Player]
PlayerCount_df

   Player Count
0           576

## Purchasing Analysis (Total)

In [3]:
Number_Of_Unique_Items = len(purchase_data["Item Name"].unique())
#Number_Of_Unique_Items
Average_price = purchase_data["Price"].mean()
#Average_price
Number_of_purchases = len(purchase_data["Purchase ID"])
#Number_of_purchases
Total_revenue = sum(purchase_data["Price"])
#Total_revenue
Purchase_analysis_tool = pd.DataFrame()
Purchase_analysis_tool["Number of Unique Items"] = [Number_Of_Unique_Items]
Purchase_analysis_tool["Average Price"] = [Average_price]
Purchase_analysis_tool["Number of Purchases"] = [Number_of_purchases]
Purchase_analysis_tool["Total Revenue"] = [Total_revenue]

Purchase_analysis_tool.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

In [4]:
Demo = purchase_data.loc[:,["Gender","SN","Age",]]
Demo = Demo.drop_duplicates()

Male_count= len(Demo[Demo["Gender"] == "Male"])
#Male_count
Female_count= len(Demo[Demo["Gender"]== "Female"])
#Female_count
Other_count = len(Demo[Demo["Gender"]== "Other / Non-Disclosed"])
#Other_count
#Total_Player *already calculated above or Count = len(Demo["Gender"])
Percentage_male = (Male_count/Total_Player)*100
Percentage_female = (Female_count/Total_Player)*100
Percentage_other = (Other_count/Total_Player)*100

Gender_demographics_df = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],"Total Count": [Male_count,Female_count,Other_count],"Percentage of Players": [Percentage_male,Percentage_female,Percentage_other]})

#Formatting % and 2 decimal places
Gender_demographics_df_final= Gender_demographics_df.set_index("Gender")
Gender_demographics_df_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Gender)

In [30]:
# Total Purchase counts
Purchase_Cfemale= len(purchase_data[purchase_data["Gender"] =="Female"]) 
Purchase_Cmale = len(purchase_data[purchase_data["Gender"] =="Male"])
Purchase_Cother = len(purchase_data[purchase_data["Gender"] =="Other / Non-Disclosed"])
#Total purchase value
TPurchase_value_M = purchase_data[purchase_data["Gender"] =="Male"]["Price"].sum()
TPurchase_value_F = purchase_data[purchase_data["Gender"] =="Female"]["Price"].sum()
TPurchase_value_O = purchase_data[purchase_data["Gender"] =="Other / Non-Disclosed"]["Price"].sum()

#Average Purchase Price
Average_Female = (TPurchase_value_F/Purchase_Cfemale)
Average_Male = (TPurchase_value_M/Purchase_Cmale)
Average_other = (TPurchase_value_O/Purchase_Cother)

#Average total purchase per person (use counts from table with removed duplicates)
Average_TPPP_male= (TPurchase_value_M/Male_count)
Average_TPPP_female= (TPurchase_value_F/Female_count)
Average_TPPP_Other = (TPurchase_value_O/Other_count)
#Create data frame
Purchasing_Analysis_Gender_df = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],"Purchase count": [Purchase_Cfemale,Purchase_Cmale,Purchase_Cother],"Average Purchase Price": [Average_Female,Average_Male,Average_other],"Total Purchase Value":[TPurchase_value_F,TPurchase_value_M,TPurchase_value_O],"Avg Total Purchase Per Person":[Average_TPPP_female,Average_TPPP_male,Average_TPPP_Other]})
#Format table and values
P_analysis_final = Purchasing_Analysis_Gender_df.set_index("Gender")
P_analysis_final.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Total Purchase Per Person":"${:.2f}"})

## Age Demographics

In [49]:
Demo_new = purchase_data.loc[:,["SN","Age"]]
Demo_new = Demo_new.drop_duplicates()
#Demo_new

bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,50]
bins_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
Demo_new["Age Groups"] = pd.cut(Demo_new["Age"], bins, labels=bins_names)
Demo_new.head(10)

agegroup = Demo_new.groupby("Age Groups")
tot_count = agegroup["Age"].count()
percent_age = tot_count / Total_Player

#Dataframe and subsequent editing
age_demo = pd.DataFrame({"Total Count":tot_count, "Percentage of Players":percent_age})
age_demo.style.format({"Percentage of Players":"{:.2%}"})

## Purchasing analysis (AGE)

In [50]:
#Using same Bins and labels as above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bins_names)
age_group = purchase_data.groupby("Age Group")
age_group.head()

#
pcount = age_group["Purchase ID"].count()
avg_pp = age_group["Price"].mean()
tot_pv = age_group["Price"].sum()
avg_totppp = tot_pv / tot_count

#Dataframe and subsequent editing
age_analysis = pd.DataFrame({"Purchase Count":pcount, "Average Purchase Price":avg_pp, "Total Purchase Value":tot_pv, "Avg Total Purchase per Person":avg_totppp})
age_analysis.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

In [53]:

Spender = purchase_data.groupby("SN")

#perform calculations
Purchase_count = Spender["Purchase ID"].count()
Average_purchase_price = Spender["Price"].mean()
Total_purchase_Value = Spender["Price"].sum()

#Dataframe creation
Spender = pd.DataFrame({"Purchase Count":Purchase_count, "Average Purchase Price":Average_purchase_price, "Total Purchase Value":Total_purchase_Value})
Spender

#Formatting
Spender = Spender.sort_values(["Total Purchase Value"], ascending=False).head()
Spender.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

In [54]:

Columns = purchase_data[["Item ID", "Item Name", "Price"]]

#Grougby
Popular_items = Columns.groupby(["Item ID", "Item Name"])

#calculations
pcounts = Popular_items["Price"].count()
pvalue = Popular_items["Price"].sum()
pprice = pvalue / pcounts

#Dataframe creation and editting
Popular_items = pd.DataFrame({"Purchase Count":pcounts, "Item Price":pprice, "Total Purchase Value":pvalue})
pop_sort = Popular_items.sort_values("Purchase Count", ascending=False).head()
pop_sort.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [56]:
pop_prof_sort = Popular_items.sort_values("Total Purchase Value", ascending=False).head()
pop_prof_sort.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})