In [8]:
import pandas as pd
import numpy as np

Raw_Data = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(Raw_Data)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [9]:
Total_Player = len(purchase_data["SN"].unique())
PlayerCount_df = pd.DataFrame()

PlayerCount_df["Player Count"] = [Total_Player]
PlayerCount_df

   Player Count
0           576

## Purchasing Analysis (Total)

In [10]:
Number_Of_Unique_Items = len(purchase_data["Item Name"].unique())
#Number_Of_Unique_Items
Average_price = purchase_data["Price"].mean()
#Average_price
Number_of_purchases = len(purchase_data["Purchase ID"])
#Number_of_purchases
Total_revenue = sum(purchase_data["Price"])
#Total_revenue
Purchase_analysis_tool = pd.DataFrame()
Purchase_analysis_tool["Number of Unique Items"] = [Number_Of_Unique_Items]
Purchase_analysis_tool["Average Price"] = [Average_price]
Purchase_analysis_tool["Number of Purchases"] = [Number_of_purchases]
Purchase_analysis_tool["Total Revenue"] = [Total_revenue]

Purchase_analysis_tool.round(2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

In [66]:
Demo = purchase_data.loc[:,["Gender","SN","Age",]]
Demo = Demo.drop_duplicates()

Male_count= len(Demo[Demo["Gender"] == "Male"])
#Male_count
Female_count= len(Demo[Demo["Gender"]== "Female"])
#Female_count
Other_count = len(Demo[Demo["Gender"]== "Other / Non-Disclosed"])
#Other_count
#Total_Player *already calculated above or Count = len(Demo["Gender"])
Percentage_male = (Male_count/Total_Player)*100
Percentage_female = (Female_count/Total_Player)*100
Percentage_other = (Other_count/Total_Player)*100

Gender_demographics_df = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],"Total Count": [Male_count,Female_count,Other_count],"Percentage of Players": [Percentage_male,Percentage_female,Percentage_other]})

#Formatting % and 2 decimal places
Gender_demographics_df_final= Gender_demographics_df.set_index("Gender")
Gender_demographics_df_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Gender)

In [86]:
# Total Purchase counts
Purchase_Cfemale= len(purchase_data[purchase_data["Gender"] =="Female"]) 
Purchase_Cmale = len(purchase_data[purchase_data["Gender"] =="Male"])
Purchase_Cother = len(purchase_data[purchase_data["Gender"] =="Other / Non-Disclosed"])
#Total purchase value
TPurchase_value_M = purchase_data[purchase_data["Gender"] =="Male"]["Price"].sum()
TPurchase_value_F = purchase_data[purchase_data["Gender"] =="Female"]["Price"].sum()
TPurchase_value_O = purchase_data[purchase_data["Gender"] =="Other / Non-Disclosed"]["Price"].sum()

#Average Purchase Price
Average_Female = (TPurchase_value_F/Purchase_Cfemale)
Average_Male = (TPurchase_value_M/Purchase_Cmale)
Average_other = (TPurchase_value_O/Purchase_Cother)

#Average total purchase per person (use counts from table with removed duplicates)
Average_TPPP_male= (TPurchase_value_M/Male_count)
Average_TPPP_female= (TPurchase_value_F/Female_count)
Average_TPPP_Other = (TPurchase_value_O/Other_count)
#Create data frame
Purchasing_Analysis_Gender_df = pd.DataFrame({"Gender": ["Male","Female","Other / Non-Disclosed"],"Purchase count": [Male_count,Female_count,Other_count],"Percentage of Players": [Percentage_male,Percentage_female,Percentage_other]})

4.065371900826446